{
  "include": ["dist"],
  "exclude": ["dist/__tests__/", "dist/components/db-query/testing/"],
  "extension": [".js", ".ts"],
  "reporter": ["text", "html", "json"],
  "exclude-after-remap": false,
  "check-coverage": true,
  "lines": 50
}
